@import 'components/normalize';
@import 'components/variables';

html {
    font-size: 62.5%;
}

body {
    background: #010202;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 114.6rem;
    width: 90%;
    margin: auto;
}

.logo {
    &-icon {
        fill: #fff;
        width: 12.3rem;
        height: 2.2rem;
        transition: 1s;
    }

    &:hover {
        .logo-icon {
            opacity: 0.8;
            transform: scale(1.1);
        }
    }
}

.user {
    display: flex;
    align-items: center;

    &-name {
        font-size: 1.6rem;
        line-height: 2rem;
        display: flex;
        align-items: center;
        margin-right: 1.5rem;

        @include breakpoint(sm) {
            display: none;
        }
    }

    &-avatar {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 50%;
    }
}

.app {
    padding-top: 5.6rem;
    background: linear-gradient(90deg, #010202 0%, #010202 43%, rgba(1, 2, 2, 0.2) 90.9%);
    min-height: 100vh;
    box-sizing: border-box;

    @include breakpoint(lg) {
        background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), url(../images/cover-image.jpg) no-repeat top right;
        background-size: 70%;
        background-position: bottom center;

        video {
            display: none;
        }
    }

    @include breakpoint(sm) {
        background-size: 80%;
        padding-top: 4.1rem;
    }
}

.film {
    display: flex;
    flex-direction: column;
    max-width: 114.6rem;
    width: 90%;
    margin: auto;
    font-size: 1.6rem;
    margin-top: 20rem;

    &__logo {
        width: 40.5rem;
        height: auto;

        @include breakpoint(sm) {
            width: 100%;
        }
    }

    &__description {
        margin: 0;
        max-width: 460px;
        font-size: 2.1rem;
        line-height: 140%;
        margin-bottom: 3.6rem;

        @include breakpoint(sm) {
            font-size: 1.6rem;
        }

        @include breakpoint(xs) {
            font-size: 1.4rem;
        }
    }

    @include breakpoint(lg) {
        margin-top: 3rem;
    }
}

.tags {
    display: flex;
    align-items: center;
    color: #E5E5E5;
    line-height: 140%;
    margin-bottom: 0.9rem;

    @include breakpoint(xs) {
        font-size: 1.2rem;
    }
}

.date {
    margin-right: 1.5rem;
    opacity: 0.5;

    @include breakpoint(sm) {
        margin-right: 1rem;
    }
}

.genre {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 1.5rem;

    // .genre__list

    &__list {
        opacity: 0.5;

        &:not(:last-child) {
            &::after {
                content: ',';
                margin-right: 0.5rem;
            }
        }
    }

    @include breakpoint(sm) {
        margin-right: 1rem;
    }
}

.country {
    margin-right: 1.5rem;
    opacity: 0.5;

    @include breakpoint(sm) {
        margin-right: 1rem;
    }
}

.age {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.button-group {
    display: flex;
    align-items: center;

}

.button {
    border-radius: 0.6rem;
    display: flex;
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    padding: 0.63em 1.56em 0.75em;
    border: none;
    color: #fff;
    font-family: inherit;
    transition: .2s linear;
    box-sizing: border-box;

    &__primary {
        background: #EA6E20;
        margin-right: 1.5rem;
    }

    // .button__default

    &__default {
        align-items: center;
        background: #2F2F2F;

        .play-icon {
            fill: #fff;
            width: 1.2rem;
            height: 1.3rem;
            margin-right: 1rem;

            @include breakpoint(sm) {
                margin-right: 0;
            }
        }

        span {
            @include breakpoint(sm) {
                display: none;
            }
        }

        @include breakpoint(sm) {
            padding: 0.85em 1.56em;
        }
    }

    &:hover {
        opacity: 0.6;
        transform: scale(1.1);
    }
}